# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Environment configurations
.env
**/.env
.env.local

# Logs
*.log
**/*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
